project_name: "dereverb"
exp_name: "vox"

model:
  name: "MelBandRoformer"
  params:
    dim: 384
    depth: 6
    stereo: true
    num_stems: 1
    time_transformer_depth: 1
    freq_transformer_depth: 1
    num_bands: 60
    dim_head: 64
    heads: 8
    attn_dropout: 0
    ff_dropout: 0
    flash_attn: True
    dim_freqs_in: 1025
    sample_rate: 44100  # needed for mel filter bank from librosa
    stft_n_fft: 2048
    stft_hop_length: 441
    stft_win_length: 2048
    stft_normalized: False
    mask_estimator_depth: 2
    multi_stft_resolution_loss_weight: 1.0
    multi_stft_resolutions_window_sizes: !!python/tuple
    - 4096
    - 2048
    - 1024
    - 512
    - 256
    multi_stft_hop_size: 147
    multi_stft_normalized: False

data:
  sample_rate: 44100
  clip_duration: 1.0
  train_dataset:
    target_stem: "Voc"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems"
    apply_augmentation: False
    snr_range: [0.0, 10.0]
  val_dataset:
    target_stem: "Voc"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems_valid"
    apply_augmentation: False
    snr_range: [0.0, 10.0]
  dataloader_params:
    batch_size: 1
    num_workers: 16

optimizer_g:
  lr: 0.00002
  betas: [0.8, 0.99]

scheduler:
  warm_up_steps: 10000

trainer:
  max_steps: 10
  log_every_n_steps: 10
  checkpoint_save_interval: 10
  limit_train_batches: 10
  devices: [0]
  precision: 16-mixed
  save_dir: logs/

checkpoint:
  path: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/jinxuanzhu/MSRKit/checkpoints/dereverb_mel_band_roformer_mono_anvuew_sdr_20.4029.ckpt"
  type: "roformer_noreverb_frozenall"