project_name: "msrkit"
exp_name: "melroformer_vocal_restoration"

model:
  name: "MelRoFormer"
  params:
    hidden_channels: 128
    num_layers: 12
    num_heads: 4
    window_size: 2048
    hop_size: 512
    sample_rate: 48000

data:
  sample_rate: 48000
  clip_duration: 3.0
  train_dataset:
    target_stem: "Voc"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems"
    apply_augmentation: True
    snr_range: [0.0, 10.0]
  val_dataset:
    target_stem: "Voc"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems_valid"
    apply_augmentation: False
    snr_range: [0.0, 10.0]
  dataloader_params:
    batch_size: 4
    num_workers: 8

optimizer_g:
  lr: 0.0005
  betas: [0.8, 0.99]

scheduler:
  warm_up_steps: 10000

trainer:
  max_steps: 1000000
  log_every_n_steps: 100
  checkpoint_save_interval: 10000
  limit_train_batches: 2000
  devices: [0]
  precision: bf16-mixed
  save_dir: logs