project_name: "uformer"
exp_name: "bass"

model:
  name: "UFormer"
  params:
    # UFormer 依赖的 STFT 参数
    n_fft: 2048 # UFormer 的 Fourier 基类使用 n_fft (对应 MelUNet 的 window_size)
    hop_length: 512 # UFormer 的 Fourier 基类使用 hop_length (对应 MelUNet 的 hop_size)
    sr: 48000 # 对应 data:sample_rate
    # 2. UFormer 架构参数 (从默认或推荐值设定)
    n_layer: 12  # Transformer 层的数量 (例如 12 层)
    n_head: 16   # 注意力头的数量 (例如 16)
    n_embd: 512  # 嵌入维度 (Transformer 块的特征维度, 例如 512)

discriminators:
  - name: "MultiFrequencyDiscriminator"
    params:
      nch: 1
      window_sizes: [2048, 1024, 512]
      sample_rate: 48000
      norm: True

data:
  sample_rate: 48000
  clip_duration: 4.0
  train_dataset:
    target_stem: "Bass"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems"
    apply_augmentation: True
    snr_range: [0.0, 10.0]
  val_dataset:
    target_stem: "Bass"
    root_directory: "/inspire/hdd/project/multilingualspeechrecognition/chenxie-25019/data/RawStems_valid"
    apply_augmentation: False
    snr_range: [0.0, 10.0]
  dataloader_params:
    batch_size: 16
    num_workers: 32

optimizer_g:
  lr: 0.0002
  betas: [0.8, 0.99]

optimizer_d:
  lr: 0.0002
  betas: [0.8, 0.99]

scheduler:
  warm_up_steps: 5000

losses:
  gan_type: 'lsgan'
  lambda_recon: 45.0
  lambda_feat: 10.0
  lambda_gan: 0.1
  reconstruction_loss:
    sample_rate: 48000
    n_fft: [1024, 2048, 512]
    hop_length: [256, 512, 128]
    n_mels: [80, 160, 40]

trainer:
  max_steps: 1000000
  log_every_n_steps: 100
  checkpoint_save_interval: 10000
  limit_train_batches: 2000
  devices: [0]
  precision: bf16-mixed
  save_dir: logs/